# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
.env/
.venv/

# Environment variable files
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# macOS files
.DS_Store

# Test and coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
*.py,cover
.cache

# Mypy
.mypy_cache/
.dmypy.json

# Pyre type checker
.pyre/

# Pytest
.pytest_cache/

# Logs and debug
*.log

# Build artifacts
build/
dist/
*.egg-info/

# Wheels
*.whl

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
nosetests.xml
test*.xml
